<!DOCTYPE html>
<html xmlns: th="https://www.thymeleaf.org/" >
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1 style="color: green;">WELCOM STUDENT PAGE </h1>
<form th: action="@{/student/save}" method="post" th:object=${stu}>
<pre>

student name : <input type="text" th:field="*{sName}"/>
student email : <input type="email" th:field="*{sEmail}"/>
student number: <input type="number" th:field="*{snumber}"/>
 GENDER ::<input type="radio" th:field="*{sGender}" value="male"> Male
  <input type="radio" th:field="*{gender}" value="female"> Female
  <input type="radio" th:field="*{gender}" value="other"> Other
  
  student course:  <select th:field="*{sCourse}">
          <option value="--" > select </option>
          <option value=" corejava">corejava</option> 
          <option value="spring">spring</option>
          <option value="hibernate" >hibernate</option>
          <option value="microservice">microservice </option>                         
  </select>
  <input type="submit" value="submit kare">
  
  </pre>
</form>
</body>
</html>